<% include ./partials/header %>
    <div class ="container">
        <div class ="container mt-2">
            <h6 class="mb-0"> Agreements <h6>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class ="container mt-2 mb-2 text-muted">
            <h5> Please review and accept the following agreements.</h5>
        </div>
        <div class ="container">
            <a href="#"> Agreement 1 </a>
        </div>
        <div class ="container">
            <a href="#"> Agreement 2 </a>
        </div>
        <div class ="container">
            <a href="#"> Agreement 3 </a>
        </div>
        <div class ="container mt-2 ">
            <h6 class="mb-2"> <b>More important infromation:</b><h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam feugiat ex a faucibus tristique. Nullam cursus, nulla sit amet interdum auctor, erat velit dignissim urna, vel lacinia orci arcu id magna. Nunc dapibus dignissim augue vitae scelerisque. Quisque eleifend purus id auctor fermentum. Fusce consequat suscipit risus, in lobortis nibh dapibus at. 
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec sodales sodales leo non varius. 
            Suspendisse vitae tortor ullamcorper orci molestie vestibulum. Nam ut diam enim. Morbi fermentum purus leo, non cursus urna efficitur a. </p>
            
            <p>Ut eu auctor magna. Aenean rutrum lorem ut diam tincidunt, id pretium ipsum dapibus. Nulla facilisi. Maecenas accumsan est ut sodales ultricies.
            Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nunc lacus odio, semper in orci suscipit, ultrices hendrerit mi. 
            Mauris sed commodo velit. Morbi aliquet, velit at sollicitudin mattis, ante mauris semper urna, non rhoncus sem sem et ligula. Pellentesque scelerisque neque at diam dapibus, 
            ac dignissim est facilisis. Vestibulum porttitor justo quis dui fringilla maximus. </p> 
            
            <p>
            Nulla non erat sapien. Curabitur condimentum feugiat luctus.
            Donec quam leo, lacinia ac sem sed, finibus ornare dolor. Curabitur justo felis, consectetur id finibus et, volutpat at tellus. Morbi at libero mollis, lacinia odio id, placerat nisi.
            Donec auctor nunc orci, nec mollis nisi efficitur vel. Fusce fermentum mauris eget interdum lobortis. Etiam luctus elit ipsum, id pretium dui eleifend ac. Donec eu hendrerit justo.
            Ut sit amet feugiat nulla, ac pellentesque nibh. Ut diam mi, hendrerit sed libero et, congue luctus nulla. Morbi mollis nunc nec nibh aliquet, non viverra nunc tincidunt. 
            Nullam id diam nibh. Ut rutrum diam eget dictum tempor. </p>
            
            <p>Pellentesque odio felis, volutpat sagittis vehicula eget, faucibus in ligula. Ut luctus tempus convallis.
            Praesent vitae diam cursus ligula tincidunt tempor condimentum sit amet lectus. Mauris lacinia sit amet risus commodo pellentesque.
            Vivamus congue sed ipsum nec imperdiet. Proin facilisis non arcu vel tristique. Maecenas sed lacus porttitor, iaculis est sed, faucibus ipsum. 
            In hac habitasse platea dictumst. Praesent eu erat dui. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="custom-control custom-checkbox my-1 mr-sm-2">
            <input type="checkbox" class="custom-control-input" id="customControlInline">
            <label class="custom-control-label" for="customControlInline">By checking this box you agree to all the above terms. </label>
        </div>
        <form>
            <div class="row">
                <div class="col">
                    <label> Sign with your name </label>
                    <input type="text" class="form-control" placeholder="">
                </div>
                <div class="col">
                    <label> Today's Date</label>
                    <input type="date" class="form-control" placeholder="">
                </div>
            </div>
        </form>
        <div class ="container">
                <div class ="row mt-2">
                    <div class = "col-md-3 mr-auto">
                        <a href="#" > <button class="btn btn-primary mt-2 btn-block">Accept & Continue </button></a>
                    </div>
                </div>
            </div>
    </div>

<% include ./partials/footer %>