<% include ./partials/header %>
    <div class ="container">
        <div class ="container mt-2">
            <h6 class="mb-0"> Get started<h6>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class ="container mt-2 mb-2 text-muted">
            <h5> Open your ABC Checking account.</h5>
        </div>
        <div class ="container">
            <label> It should take less than 10 minutes.</label>
            <div class ="row">
                <div class ="col-md-4 d-flex flex-column align-items-center">
                    <img class=" app-img img-fluid" src="/icons/identification.svg">
                </div>
                <div class ="col-md-4 d-flex flex-column align-items-center">
                    <img class="app-img img-fluid" src="/icons/debit-card.svg">
                </div>
                <div class ="col-md-4 d-flex flex-column align-items-center">
                    <img class="app-img img-fluid" src="/icons/user.svg">
                </div>
            </div>
            <div class ="row">
                <div class ="col-md-4 text-center">
                    <p>Have your SSN and driver's license or state ID in hand.</p>
                </div>
                <div class ="col-md-4 text-center">
                    <p>Add funds using a debit card. </p>
                </div>
                <div class ="col-md-4 text-center">
                    <p>Your new account is ready for use.</p>
                </div>
            </div>
            <div class ="row mt-4">
                <div class="col-md-4 ml-auto">
                    <a href="/checking/application/customerInfo" > <button class="btn btn-primary btn-block mt-2">Next</button></a>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <p class="text-muted"> Federal regulations require us to ask your name, address, date of birth and other information to assist us in the verifaction process.</p>
        </div>
    </div>
<% include ./partials/footer %>