<% include ./partials/header %>

<div class = "container">
    <h5> Welcome to Checking Accounts </h5>
</div>
<div class ="container">
    <div class ="row">
        <div class ="col-md-6">
            <h2> Special offer just for you</h2>
            <p> New customers qualify for a new special Checking account after qualification.</p>
            <button type="submit" class="btn btn-success mt-2" disabled >Redeem offer</button>

        </div>
    </div>
</div>
<div class ="container mt-4">
    <h5> Open one of the most reliable checking account - Company ABC Checking </h5>
    <a href="/checking/application" > <button class="btn btn-success mt-2">Open now</button></a>
    <div class="mt-2">
        <a href="#checking_details"><u>View Account Details</u></a>
    </div>
</div>
<div id="checking_details" class="container mt-4 text-center">
    <h5> See account details and determine if they fit your needs</h5>
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">Checking Type 1</th>
              <th scope="col">Checking Type 2</th>
              <th scope="col">Checking Type 3</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Monthly Service Fee</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center">$12 or $0 </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>Opening minimum deposit</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center">$25</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td> Access to x ATMs and y branches </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center"> <img src="icons/check.svg"> </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td> Earns interest  </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td class="text-center"> N/A </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td><a href="/checking/application" > <button class="btn btn-success mt-2">Open now</button></a></td>
              <td></td>
              <td></td>
            </tr>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>