<% include ./partials/header %>
    <div class ="container">
        <div class ="container mt-2">
            <h6 class="mb-0"> Your finances <h6>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class ="container mt-2 mb-2 text-muted">
            <h5> Tell us about your income.</h5>
        </div>
        
        <form action="/add-fin-info/<%=req.params.id%>" method ="POST" >
            <!--EMPLOYMENT INFO-->
            <div class ="container mt-4">
                <p><b> Employment Status </b></p>
                <div class="row">
                    <div class="col">
                        <select class="custom-select mr-sm-2" name="employment_status" id="inlineFormCustomSelect">
                            <option value="Employed">Employed</option>
                            <option value="Self-employed">Business owner/ self-employed</option>
                            <option value="Unemployed">Not employed</option>
                            <option value="Student">Student</option>
                            <option value="Retired">Retired</option>
                        </select>
                    </div>
                    <div class="col"></div>
                </div>
            </div>
            <div class ="container mt-4">
                <p><b>Income</b></p>
                <div class="row">
                    <div class="col">
                        <label> Main source of income </label>
                        <select class="custom-select mr-sm-2" name="main_income" id="inlineFormCustomSelect">
                            <option value="None">None</option>
                            <option value="Annuity">Annuity</option>
                            <option value="Salary">Salary/wages</option>
                            <option value="Government benefits">Government benefits</option>
                        </select>
                    </div>
                </div>
            </div>
            <!--Sources of Income -->
            <div class ="container">
                <div class ="row mt-2">
                    <div class = "col-md-2 ml-auto">
                        <button type ="submit" class="btn btn-primary mt-2 btn-block">Next</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
<% include ./partials/footer %>