<% include ./partials/header %>

<div class = "jumbotron">
    <div class ="container">
        <h3> Open one of the most desired savings accounts </h3>
        <div class ="row">
            <div class ="col-md-3">
                <h4>ABC Savings</h4>
                <p class="text-muted">See below for account information and fees</p>
                <button type="submit" class="btn btn-success btn-block">Open account</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-4 text-center">
    <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col"></th>
              <th class ="text-center" scope="col">ABC Savings</th>
              <th scope="col">ABC Savings 2</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td>Earn interest</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-center"><img src="icons/check.svg"> </td>
              <td></td>
            </tr>
            <tr>
              <td>Monthly service fee </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td  class="text-center" >$5</td>
              <td></td>
            </tr>
            <tr>
              <td> Withdrawal limits</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td  class="text-center"> $X Savings Withdrawal Limit fee. <br> Applies to each withdrawal or transfer out of this account.</td>
              <td></td>
            </tr>
            <tr>
              <td> Minimum Deposit to open  </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-center"> $25 </td>
              <td></td>
            </tr>
            <tr>
              <td> Learn More </td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class="text-center"> <a href='#'> See interest rates </a></td>
              <td></td>
            </tr>
            <tr>
              <td></td>
              <td class= "text-center"><button type="submit" class="btn btn-success">Open</button></td>
              <td></td>
            </tr>
        </tbody>
    </table>
</div>

<% include ./partials/footer %>