<% include ./partials/header %>
    <div class ="container">
        <div class ="container mt-2">
            <h6 class="mb-0"> You are all set!<h6>
        </div>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100im " aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

<% include ./partials/footer %>